.footer {
  width: 100vw;
  padding: 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.lock-btn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  justify-self: flex-start;
  display: grid;
  align-content: center;
}

.lock {
  cursor: pointer;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
}

.bottom-logo {
  width: 80px;
  height: 38px;
  justify-self: center;
  filter: drop-shadow(-1px 0 #cdd2d5) drop-shadow(-1px 2px #808d93)
    drop-shadow(-2px 1px #cdd2d5) drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.7));
}

.help {
  position: relative;
  top: 2px;
  width: 45px;
  height: 45px;
  filter: drop-shadow(2px 5px 3px rgba(0, 0, 0, 0.7));
}

.help-link {
  justify-self: flex-end;
}
