.back {
  margin: 0 auto;
  width: 25%;
  font-size: 16px;
  color: #111;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  background: linear-gradient(#6da7dde0 5%, #156abad5 100%);
  letter-spacing: 0.1rem;
  transition-duration: 0.2s;
  text-shadow: 0px -1px rgb(63, 62, 62);
  outline-color: whitesmoke;
  border: none;
}

.back:hover {
  color: whitesmoke;
  background: linear-gradient(#79bbf8 5%, #1b7fdd 100%);
  text-shadow: 0px -1px #07214c;
}

.back:active {
  transform: scale(0.9);
  border: 2px ridge whitesmoke;
}
