.logo-div {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.date {
  font-family: "Oswald", sans-serif;
  position: relative;
  margin-top: -15%;
}
