.header {
  width: 100vw;
  height: 250px;
  padding: 0 1rem;
  background-color: #fff;
  color: #111;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  text-align: center;
}

.logo {
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.6));
}

.welcome {
  font-family: "Rouge Script", Geneva, Tahoma, sans-serif;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  font-size: 5.5rem;
  margin: 0;
  display: grid;
  text-shadow: 0px 3px 3px rgba(97, 97, 97, 0.8);
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.school {
  font-family: "Schoolbell", Geneva, Tahoma, sans-serif;
  font-size: 3.5rem;
  position: relative;
  top: -15%;
}

.visitor {
  top: -10px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  position: relative;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -6px 5px 3px rgba(97, 97, 97, 0.8);
}

@media only screen and (max-width: 1114px) {
  .header {
    grid-template-columns: 1fr;
  }
  .logo {
    display: none;
  }

  .welcome {
    font-size: 5rem;
  }

  .school {
    top: -10%;
    font-size: 3rem;
  }

  .visitor {
    top: -10px;
  }
}
