.visitor-badge {
  font-size: 4em;
  text-align: center;
  color: #111;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}

.form {
  display: grid;
  padding: 0;
  align-items: space-around;
  font-family: Arial, Helvetica, sans-serif;
}

#volunteersList {
  width: 100%;
  position: relative;
  padding: 5px 0;
  top: -20px;
  background: none;
  border: 1px solid #aaa;
  color: #777;
  font-size: 14px;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  background-clip: padding-box;
}

#guestInput {
  position: relative;
  width: 100%;
  height: 30px;
  display: none;
  padding: 5px 0;
  background: none;
  border: 1px solid #aaa;
  font-size: 14px;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  background-clip: padding-box;
}

#class {
  width: 100%;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  background-clip: padding-box;
  border: 1px solid #aaa;
  font-size: 14px;
  margin-top: -5%;
  height: 30px;
}

datalist {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  clip: rect(0, 0, 0, 0);
}

textarea {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  height: 60px;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  background-clip: padding-box;
  color: #111;
}

#notes {
  height: 60px;
}
